{:paths ["src" "resources"]
 :deps  {org.clojure/clojure  {:mvn/version "1.10.2"}
         org.clojure/data.xml {:mvn/version "0.0.8"}}
 :aliases
        {:run-m   {:main-opts ["-m" "will-normand.strava-joiner"]}
         :test    {:extra-paths ["test"]
                   :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
                   :main-opts ["-m" "cognitect.test-runner"]
                   :exec-fn cognitect.test-runner.api/test}
         :uberjar {:replace-deps {seancorfield/depstar {:mvn/version "2.0.171"}}
                   :exec-fn      hf.depstar/uberjar
                   :exec-args    {:aot        true
                                  :jar        "strava-joiner.jar"
                                  :main-class "will-normand.strava-joiner"}}}}